body {
    background-color: #FDFEFE;
}

h1 {
    color: #212F3D;
    text-align: center;
}

hr {
    height: 2px;
    background-color: #C70039;
    border: none;
}

p {
    color: #212F3D;
}

ul {
    color: #212F3D;
}

li {
    color: #212F3D;
}

#foo {
    color: #212F3D;
    
}



#rah {
    color: #212F3D;
}

a {
  color: #212F3D;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}




