body {
    background-color: #283747;
}

h1 {
    color: #DFFF00;
    text-align: center;
}

hr {
    height: 1px;
    background-color: #C70039;
    border: none;
}

p {
    color: #DFFF00;
}

ul {
    color: #C70039;
}

li {
    color: #C70039;
}

#foo {
    color: #33FF4F;
    
}



#rah {
    color: #33FFF0
}

a {
  color: #DFFF00
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}




